@model IEnumerable<GerenciamentoDeDespesas.Models.Salario>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <style>
        .mouse {
            cursor: pointer;
        }
    </style>
}

@if (TempData["confirmacao"] != null)
{

    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["confirmacao"]</strong>
    </div>

}

<p>
    <a asp-action="Create" asp-controller="Salario" class="btn btn-success">Adicionar</a>
</p>


<table id="dados" class="table table-hover display responsive nowrap table-sm " cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Mês</th>
            <th>Valor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.SalarioId</td>
            <td> @Html.DisplayFor(modelItem => item.Mes.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Valor)</td>
            <td class="text-right">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.SalarioId">Edição</a> |
                <a class="btn btn-danger mouse" onclick="ExibirModal(@item.SalarioId,'@item.Mes.Nome')">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p>Deseja prosseguir com exclusão de <text class="nome font-weight-bold"></text></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary btnExcluir">Sim</button>
            </div>
        </div>

    </div>
</div>





@section Scripts {
    <script>


        function ExibirModal(idRecebido, nome) {

            $(".nome")[0].innerHTML = nome;
            $(".modal").modal();

            $(".btnExcluir").on("click", function () {

                $.ajax({
                    url: "/Salario/Deletar",
                    method: "POST",
                    data: { id: idRecebido },
                    success: function (data) {
                        console.log(data);
                        $(".modal").modal("hide");
                        location.reload(true);
                    }
                })
            });

        };


    </script>
}
