@model IEnumerable<GerenciamentoDeDespesas.Models.Salario>


@section Styles {

    <style type="text/css">
        #btnControle {
          margin-left: 14px;
        }
    </style>

}


@{
    ViewData["Title"] = "Index";
}


<div class="container">



    @if (TempData["confirmacao"] != null)
    {

        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@TempData["confirmacao"]</strong>
        </div>

    }

    <p id="btnControle">
        <a asp-action="Novo" asp-controller="Salario" class="btn btn-outline-success">Adicionar</a>
    </p>

    <form asp-action="Index" asp-controller="Salario" method="post">

        <div class="form-group">
            <div class="input-group col-md-6">
                <input class="form-control" name="txtProcurar" placeholder="Consultar pelo nome" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary"> <i class="fa fa-search-plus"></i> </button>
                </div>
            </div>
        </div>
    </form>


    <table id="dados" class="table table-hover table-striped display responsive nowrap table-sm " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Mês</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.SalarioId</td>
                <td>@item.Mes.Nome</td>
                <td>@item.Valor</td>
                <td class="text-right">
                    <a class="btn btn-outline-primary btn-sm" asp-action="Atualizar" asp-route-id="@item.SalarioId"><i class="material-icons">Atualizar</i></a> |
                    <a class="btn btn-outline-danger btn-sm" asp-action="Deletar" asp-route-id="@item.SalarioId"><i class="material-icons">Deletar</i></a>
                </td>

            </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-center">

            @*@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, busca = ViewBag.Busca, tamanhoPagina = ViewBag.TamanhoPagina }), new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })*@

        </ul>

    </nav>



</div>

@section Scripts {
    <script>

    </script>

}
