@*@model X.PagedList.IPagedList<GerenciamentoDeDespesas.Models.Despesa>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common*@

@model IEnumerable<GerenciamentoDeDespesas.Models.Despesa>

@{
    ViewData["Title"] = "Index";
}



<div class="container">

    <br />
    <br />

    @if (TempData["confirmacao"] != null)
    {

        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@TempData["confirmacao"]</strong>
        </div>

    }

    <p id="btnControle">
        <a asp-action="Novo" asp-controller="Despesa" class="btn btn-success">Adicionar</a>
    </p>



    <table id="dados" class="table table-hover  table-striped display responsive nowrap table-sm " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Mês</th>
                <th>Tipo Despesa</th>
                <th>Valor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DespesaId</td>
                    <td>@item.Mes.Nome</td>
                    <td>@item.TipoDeDespesa.Nome</td>
                    <td>@item.Valor</td>
                    <td class="text-right">
                        <a class="btn btn-primary" asp-action="Atualizar" asp-route-id="@item.DespesaId"><i class="material-icons">Atualizar</i></a> |
                        <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@item.DespesaId"><i class="material-icons">Deletar</i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    @*@Html.PagedListPager(Model,pagina => Url.Action("Index","Despesas",new { pagina }), new PagedListRenderOptionsBase
        {
            LiElementClasses = new string[] {"page-item"},
            PageClasses = new string[] {"page-link"}

        })*@


</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('#dados').DataTable({
                "orderMulti": false,
                "paging": false,
                "info": false,
                "language": {
                    "lengthMenu": "Visualizando _MENU_ Registros por página",
                    "zeroRecords": "Não existe registros para visualização",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No records available",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });

        });

    </script>
}




